.aboutPage{
    display: flex;
    position: relative;
    background-color: #292929;
    overflow-y: hidden;
    height: 90vh;
    min-height: 700px;
}
.coffeeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position : absolute;
    height: 75%;
    width: 25%;
    margin-top: 5%;
    margin-left: 5%;
    background-color: aqua;
    overflow: hidden;
    border-radius: 1vh;
    min-height: 430px;
    min-width: 300px;
    content-visibility: center;
    box-shadow: 5px 5px 5px darkgray;
    animation: onlyopacityAnimation 1s forwards;
}

.coffeeImage{
    height: 100%;
    width: 100%;
    overflow: visible;
}
.aboutDescription{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50vw;
    margin-top: 5%;
    margin-left: 35%;
}
.introTitle{
    display: flex;
    align-items: center;
    color: goldenrod;
    font-size: 2em;
    font-weight: bolder;
    flex: 1;
    animation: opacityAnimation 1s forwards;
    opacity: 0;
}
.introContent{
    flex: 3;
    color: white;
    font-size: 1.2em;
    animation: opacityAnimation 1s forwards;
    opacity: 0;
}
.highlight{
    color: goldenrod;
}


#introTitleTag{
    animation-delay: 0s;
}
#introContentTag{
    animation-delay: 0.5s;
}
#whyTitleTag{
    animation-delay: 1s;
}
#whyContentTag{
    animation-delay: 1.5s;
}


@media (min-width : 0px) and (max-width : 500px) {
    .aboutDescription{
        width: 90vw;
        margin: 5vw;
    }
    .introContent{
        font-size: 1.1em;
    }
    .coffeeContainer{
        display: none;
        width: 0%;
    }
}


@media (min-width : 501px) and (max-width : 1100px) {
    .coffeeContainer{
        display: none;
        width: 0%;
    }
    .aboutDescription{
        width: 90vw;
        margin: 5vw;
    }
}


@keyframes opacityAnimation{
    0%{
        margin-left: 50px;
        opacity: 0;
    }
    100%{
        margin-left: 0px;
        opacity: 1;
    }
}

@keyframes onlyopacityAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}