.aboutPage{
    display: flex;
    position: relative;
    background-color: #292929;
    overflow-y: hidden;
    height: 90vh;
    min-height: 700px;
}
.coffeeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position : absolute;
    height: 75%;
    width: 25%;
    margin-top: 5%;
    margin-left: 5%;
    background-color: aqua;
    overflow: hidden;
    border-radius: 1vh;
    min-height: 430px;
    min-width: 300px;
    content-visibility: center;
    box-shadow: 5px 5px 5px darkgray;
}

.coffeeImage{
    height: 100%;
    overflow: visible;
}
.aboutDescription{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 75%;
    width: 58%;
    margin-top: 5%;
    margin-left: 35%;
}
@media screen and (max-width : 1100px) {
    .coffeeContainer{
        display: none;
        width: 0%;
    }
    .aboutDescription{
        margin-left: 5%;
        width: 88%;
    }
}
.introTitle{
    display: flex;
    align-items: center;
    color: goldenrod;
    font-size: 2em;
    font-weight: bolder;
    flex: 1;
}
.introContent{
    flex: 3;
    color: white;
    font-size: 1.2em;
}
.highlight{
    color: goldenrod;
}