.aboutContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    margin-left: 55vw;
    height: 70vh;
    width: 40%;
    min-height: 480px;
    background: palevioletred;
}
.introName{
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    background-color: red;
}
.introStats{
    display: flex;
    width: 100%;
    flex: 2;
    flex-direction: row;
    background-color: blue;
}

.line1{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex: 1;
    background-color: green;
}
.box1{
    display: flex;
    margin-left: 10%;
    flex: 1;
    justify-content: start;
    background-color: red;
    align-items: center;
    color: white;
    font-size: 4em;
    font-weight: bolder;
}
.box2{
    display: flex;
    flex: 1;
    background-color : purple;
    align-items: center;
}
.line2{
    display: flex;
    margin-left: 10%;
    color: white;
    font-size: 4em;
    font-weight: bolder;
    flex: 1;
    background-color: rgb(46, 162, 129);
}
.roleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: white;
    height: 1.5em;
    font-size: 1.3em;
    padding: 2%;
    font-weight: bolder;
    border:2px solid white;
    border-radius: 10%;
}
.stars{
    height: 1.5em;
}