.certi{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 250px;
    margin-top: 35px;
    background-color: rgb(6, 34, 35);
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 4px 4px 2px rgba(128,0,128,0.7);
}
.name{
    font-size: 1.3em;
    margin-top: 25px;
    color: white;
    font-weight: bold;
}
.org{
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin-top: 25px;
    font-size: 0.8em;
}
.linkButton{
    display: flex;
    background-color: brown;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 2px white;
    margin-top: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.1s;
}
.linkButton:hover{
    margin-top: 45px;
    padding: 20px;
    background-color: green;
}
.orgLogo{
    display: flex;
    height: 40px;
    width: 40px;
    margin-left: 15px;
    background-color: aqua;
}