.connectContainer{
    position: fixed;
    background-color: rebeccapurple;
    width: 10%;
    margin-top: 100px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
}
.connect{
    position: absolute;
    z-index: 1000;
    border-radius: 100px;
    background-color: grey;
    cursor: pointer;
}
.connect:hover{
    box-shadow: 0px 0px 5px white;
}
.connectImage{
    display: flex;
    margin-top: 2px;
    height: 40px;
    padding: 16px;
}


.connectionImage{
    display: flex;
    margin-top: 2px;
    height: 30px;
    padding: 8px;
}

.instagram,.facebook,.linkedin,.email,.tweeter,.github{
    position: absolute;
    cursor: pointer;
    z-index: 999;
    border-radius: 100px;
    background-color: grey;
    transition: all 0.5s;
}
.instagram:hover,.facebook:hover,.linkedin:hover,.email:hover,.tweeter:hover,.github:hover{
    box-shadow: 0px 0px 5px white;
}
.instagram{
    margin-top: 100px;
}
.facebook{
    margin-top: 160px;
}
.linkedin{
    margin-top: 220px;
}
.email{
    margin-top: 280px;
}
.tweeter{
    margin-top: 340px;
}
.github{
    margin-top: 400px;
}


@media screen and (max-width : 1035px) {
    .connectContainer{
        display: none;
    }
}