.footer{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    margin-top: 100px;
    flex-direction: row;
    background-color: red;
}
.copyright{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    color: white;
    margin-left: 120px;
}
.credits{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 2em;
}
.links{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    color: white;
    margin-left: 120px;
}
.connectFooter{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 2em;
}
.connectIconBar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 40px;
    background-color: azure;
    width: 75%;
}
.connectIcons{
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex: 1;
    height: 40px;
    width: 40px;
}