.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    background-color: #3d3d3d;
    border-top: 1px solid grey;
}
.copyright{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 5.5vh;
    color: white;
    margin-left: 5vw;
    width: 80vw;
}
.credits{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 2em;
    animation: dropdownAnimation 1s forwards;
    transition: all 0.3s;
}
.creditsText{
    animation: dropdownAnimation 1s forwards;
    transition: all 0.3s;
}
.links{
    display: flex;
    flex-direction: column;
    margin-top: 5.5vh;
    flex: 1;
    color: white;
    margin-left: 5vw;
}
.connectFooter{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 2em;
    animation: dropdownAnimation 1s forwards;
}
.connectIconBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 40px;
    width: 40%;
}
.connectIcons{
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex: 1;
    height: 30px;
    width: 30px;
    animation: spinAnimation 1s forwards;
}
.emailAddress{
    animation: dropdownAnimation 1s forwards;
    transition: all 0.3s; 
}

@media screen and (max-width : 500px) {
    .footer{
        flex-direction: column;
    }
    .copyright{
        margin-right: 5vw;
    }
    .connectIconBar{
        width: 80vw;
    }
}

@keyframes dropdownAnimation{
    0%{
        margin-top: 20px;
        opacity: 0;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes spinAnimation {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}