
.homepage{
    position: relative;
    background-color: #212121;
    height: 90vh;
    width: 100vw;
    min-width: 700px;
    min-height: 550px;
}

.profileContainer{
    display: grid;
    height: 100%;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
}