body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #3d3d3d;
    height: 10vh;
    width: 100vw;
    min-height: 80px;
    border-bottom:  1px solid grey;
}

.developerName{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    max-width: 300px;
    min-width: 140px;
}
.fillIn{
    display: flex;
    flex: 1;
}
.developerText{
    display: flex;
    color: white;
    font-size: 2.4em;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    max-width: 400px;
    min-width: 200px;
    padding-left: 5%;
    padding-right: 5%;
}
.menuoptions{
    font-size: larger;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}


@media screen and (max-width : 500px) {
    .developerText{
        font-size: 1.5em;
    }
    .menuoptions{
        font-size: small;
    }
}