
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #3d3d3d;
    height: 10%;
    width: 100%;
}

.developerName{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
}
.developerText{
    display: flex;
    color: white;
    font-size: 240%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 300px;
    padding-left: 5%;
    padding-right: 5%;
}
.menuoptions{
    font-size: larger;
    color: white;
}