.ProfileCoverContainer{
    display: flex;
    position: absolute;
    margin-top: 20vh;
    margin-left: 25vw;
    background-color: rebeccapurple;
    height: 50vh;
    width: 20vw;
    border-radius: 50px;
    justify-content: center;
    overflow: hidden;
    min-width: 200px;
    min-height: 300px;
    border: 2px solid white;
}
.ProfileCover{
    margin-top: 3vh;
    margin-bottom: -1vh;
    margin-left: 1vw;
    transform: rotate(3deg);
}