a,a:hover{
    text-decoration: none;
}
.projectCard{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40vh;
    width: 60vw;
    margin-bottom: 12vh;
    background-color: #272727;
}
.versionCard{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #3023;
    height: 38vh;
    margin-top: 1vh;
    width: 20vw;
    border-radius: 30px;
    transition: all 0.5s;
    box-sizing: border-box;
    border: 1px solid white;
}
.versionDesc{
    width: 90%;
    flex: 1;
}
.versions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 2em;

}
.upcomingUpdateContainer{
    height: 50px;
    width: 90%;
    color: white;
    margin-bottom: 10px;
}
.upcoming{
    color: goldenrod;
    font-weight: bold;
}
.projectImageCover{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: red;
}
.projectImage{
    height: 100%;
    width: 100%;
}
.ProjectDes{
    display: flex;
    flex-direction: column;
    width: 40vw;
    min-width: 680px;
    margin-right: 5%;
}
.titleContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.projectName{
    display: flex;
    flex: 4;
    color: white;
    font-weight: bolder;
    font-size: 2.5em;
    align-items: center;
    padding-left: 7%;
}
.projectVersion{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    flex: 1;
    font-size: 2em;
    border-radius: 2vw;
    margin: 11px;
    cursor: pointer;
    background-color: #3d3d3d;
    border: 2px solid white;
}
.projectVersion:hover{
    box-shadow: 0px 0px 10px rgb(188, 188, 188);
}
.projectDescription{
    flex: 3;
    padding-left: 3%;
    color: white;
    font-size: 1.2em;
}
.highlight{
    color: goldenrod;
    font-weight: bold;
}
.githubrepo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: -8px;
    padding: 5px;
    width: 20%;
    margin-left: 7%;
    border: 2px solid white;
    background-color: grey;
    color: white;
}

@media (min-width : 0px) and (max-width:1620px){
    .projectImageCover{
        width: 0px;
        display: none;
    }
}