.alignSkills{
    width: 100vw;
    display: flex;
    justify-content: center;
    animation: fromLeftAnimation 2s forwards;
}
.center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 85vw;
}
#hive_addons{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.skillhive{
    display: flex;
    height: 40vw;
    width: 42vw;
    position: relative;
    padding-top: 3vh;
}
.skillWrapper{
    animation: fromRightAnimation 1s forwards;
    opacity: 0;
}
.chooseSkillContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 25vw;
    width: 25vw;
    background-color: #393939;
    border-radius: 3.3333vw;
    animation: background-skillhive-detailed-animation 1s alternate infinite;
    border: 3px solid white;
}
.chooseSkillImage{
    height: 140%;
    width: 140%;
}

@media screen and (max-width : 700px) {
    .row2{
        margin-top: 21.42vw;
    }
    .row3{
        margin-top: 42.84vw;
    }
    .skillhive{
        height: 80vw;
        width: 80vw;
        padding-top: 0px;
        padding-left: 10vw;
    }
    .center{
        grid-template-columns: 1fr;
    }

    #hive_addons{
        display: none;
    }
}



@keyframes background-skillhive-detailed-animation {
    0%{
        box-shadow: none;
    }   
    100%{
        box-shadow: 0px 0px 1.5vw rgb(204, 203, 203);
    }
}

@keyframes fromLeftAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fromRightAnimation {
    0%{
        opacity: 0;
        margin-left: 400px;
    }
    100%{
        opacity: 1;
        margin-left: 0px;
    }
}