.alignSkills{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 85vw;
}
#hive_addons{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.skillhive{
    display: flex;
    height: 40vw;
    width: 42vw;
    position: relative;
    padding-top: 3vh;
}

@media screen and (max-width : 700px) {
    .row2{
        margin-top: 21.42vw;
    }
    .row3{
        margin-top: 42.84vw;
    }
    .skillhive{
        height: 80vw;
        width: 80vw;
        padding-top: 0px;
        padding-left: 10vw;
    }
    .center{
        grid-template-columns: 1fr;
    }

    #hive_addons{
        display: none;
    }
}