.versionIndex{
    display: flex;
    font-weight: bolder;
    color: rgb(13, 240, 13);
    font-style: italic;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
}
.versionDes{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    flex: 1;
    color: white;
}
.versionContainer{
    display: flex;
}