
.container{
    background-color: rgb(229, 185, 235);
}
.container,.containershadow{
    position: absolute;
    display: flex;
    height: 10.5vw;
    width: 6.615vw;
    position: relative;
    box-sizing: border-box;
    border-radius: 1.05vw;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}
.containershadow{
    position: absolute;
    z-index: -100;
    opacity: 0;
    transition: all 0s;
    box-shadow: 0px 0px 4.2vw crimson;
}
.containershadow::after,.containershadow::before{
    background-color: inherit;
    box-shadow: inherit;
    z-index: inherit;
}
.container::before, .container::after,.containershadow::after,.containershadow::before{
    content: "";
    height: 100%;
    width: 100%;
    border: inherit;
    background-color: inherit;
    position: absolute;
    box-sizing: border-box;
    border-radius: inherit;
    left: 0;
    z-index: calc(inherit-1);
}
.container::before,.containershadow::before{
    transform: rotate(60deg);
}
.container::after,.containershadow::after{
    transform: rotate(120deg);
}
.hexagon:hover .container{
    height: 13.125vw;
    width: 8.26875vw;
    border-radius: 1.3125vw;
    background-color: greenyellow;
    z-index: 1000;
    margin-top: -1.640625vw;
    margin-left: -0.826875vw;
}
.hexagon:hover .containershadow{
    margin-top: -0.525vw;
    opacity: 1;
    z-index: 1;
}
.hexagon {
    display: flex;
    align-items: center;
    align-content: center;
    position: absolute;
}
.skillicon{
    margin: auto;
    align-self: center;
    height: 50%;
    position: absolute;
    z-index: 10;
}
#java_hexagon,#html_hexagon,#reactjs_hexagon{
    margin-left: 9.1875vw;
    margin-top: 5.355vw;
}
#firebase_hexagon,#js_hexagon,#mongodb_hexagon{
    margin-left: 18.375vw;
}
#cs_hexagon,#nodejs_hexagon,#mysql_hexagon{
    margin-left: 27.5625vw;
    margin-top: 5.355vw;
}
@keyframes tri-circle-animation {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.choose-skill-center-container{
    position: absolute;
    height: 85%;
    width: 85%;
    animation: choose-skill-center-image-animation 2s alternate-reverse infinite;
}
.choose-skill-center-image{
    height: 100%;
    width: 100%;
}
@media screen and (max-width : 700px) {
    .container,.containershadow{
        height: 21vw;
        width: 13.23vw;
        border-radius: 2.1vw;
    }
    .hexagon:hover .container{
        height: 26.25vw;
        width: 16.5375vw;
        border-radius: 2.625vw;
        margin-top: -3.28125vw;
        margin-left: -1.65375vw;
    }
    .hexagon:hover .containershadow{
        margin-top: -1.05vw;
    }
    #java_hexagon,#html_hexagon,#reactjs_hexagon{
        margin-left: 18.375vw;
        margin-top: 10.71vw;
    }
    #firebase_hexagon,#js_hexagon,#mongodb_hexagon{
        margin-left: 36.75vw;
    }
    #cs_hexagon,#nodejs_hexagon,#mysql_hexagon{
        margin-left: 55.125vw;
        margin-top: 10.71vw;
    }
}