#skillhive-detailed{
    position: absolute;
    display: grid;
    background-color: yellow;
    height: 30vw;
    width: 30vw;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
    grid-template-rows: 1fr 2fr;
    border-radius: 4vw;
    animation: skillhive-detailed-animation 0.5s;
}
@keyframes skillhive-detailed-animation {
    0%{
        height: 10vw;
        width: 10vw;
        border-radius: 5vw;
    }
    100%{
        height: 30vw;
        width: 30vw;
        border-radius: 4vw;
    }
}
#skillhive-detail-header{
    background-color: rebeccapurple;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#skillhive-detailed-icon{
    background-color: yellow;
    padding: 3vw;
}
#skillhive-detailed-title-block{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skillhive-detail-body{
    background-color: aqua;
}
.hive-detailed-image{
    object-fit: cover;
    width: 40vw;
}
.skill-title{
    color:crimson;
    font-size: 4.5vw;
    font-weight: 600;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
}
#detailed-skill-icon{
    height: 6vw;
}
#choose-skill{
    display: flex;
    position: relative;
    background-color: brown;
    height: 30vw;
    width: 30vw;
    border-radius: 15vw;
    align-items: center;
    justify-content: center;
}
.choose-skill-l1{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border: 1vw yellow dashed;
    animation: choose-skill-l1-animation 6s forwards infinite;
    position: absolute;
}
.arc{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
}
.temp{
    display: flex;
    position: absolute;
    border-radius: 50%;
    border-top: 16vw yellow solid;
    border-right: 16vw transparent solid;
    border-bottom: 16vw transparent solid;
    border-left: 16vw transparent solid;
    height: 0px;
    width: 0px;
    animation: choose-skill-l1-temp-animation 4s reverse infinite;
}
@keyframes choose-skill-l1-animation {
    0%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(270deg);
    }
    80%{
        transform: rotate(200deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes choose-skill-l1-temp-animation {
    0%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(270deg);
    }
    60%{
        transform: rotate(270deg);
    }
    80%{
        transform: rotate(200deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.temp_cover{
    position: absolute;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background-color: brown;
    animation: choose-skill-l1-cover-animation 2s alternate-reverse infinite;
}
@keyframes choose-skill-l1-cover-animation{
    
    40%{
        height: 50%;
        width: 50%;
    }
    65%{
        height: 80%;
        width: 80%;
    }
}
.tri-circle{
    background-color: transparent;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    animation: tri-circle-animation 50s forwards infinite linear;
}
.tri{
    display: flex;
    align-items: center;
    position: absolute;
    height: 5%;
    width: 60%;
}
.tri::before,.tri::after{
    position: absolute;
    height: 0px;
    width: 0px;
    content: "";
    border: transparent 0.35vw solid;
}
.tri::before{
    margin-left: -0.6vw;
    border-left: yellow 0.35vw solid;
}
.tri::after{
    margin-left: 100%;
    border-right: yellow 0.35vw solid;
}
#tri1{
    transform: rotate(0deg);
}
#tri2{
    transform: rotate(10deg);
}
#tri3{
    transform: rotate(20deg);
}
#tri4{
    transform: rotate(30deg);
}
#tri5{
    transform: rotate(40deg);
}
#tri6{
    transform: rotate(50deg);
}
#tri7{
    transform: rotate(60deg);
}
#tri8{
    transform: rotate(70deg);
}
#tri9{
    transform: rotate(80deg);
}
#tri10{
    transform: rotate(90deg);
}
#tri11{
    transform: rotate(100deg);
}
#tri12{
    transform: rotate(110deg);
}
#tri13{
    transform: rotate(120deg);
}
#tri14{
    transform: rotate(130deg);
}
#tri15{
    transform: rotate(140deg);
}
#tri16{
    transform: rotate(150deg);
}
#tri17{
    transform: rotate(160deg);
}
#tri18{
    transform: rotate(170deg);
}
@keyframes tri-circle-animation {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.choose-skill-center-container{
    position: absolute;
    height: 85%;
    width: 85%;
    animation: choose-skill-center-image-animation 2s alternate-reverse infinite;
}
.choose-skill-center-image{
    height: 100%;
    width: 100%;
}
@keyframes choose-skill-center-image-animation {
    40%{
        height: 60%;
        width: 60%;
    }
    65%{
        height: 80%;
        width: 80%;
    }
}
