#choose-skill{
    display: flex;
    position: relative;
    background-color: brown;
    height: 18vw;
    width: 18vw;
    border-radius: 9vw;
    align-items: center;
    justify-content: center;
}
.background-ark{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27vw;
    width: 27vw;
    background-color: purple;
    border-radius: 13.5vw;
    animation: background-ark-animation 1s alternate infinite;
}
@keyframes background-ark-animation {
    0%{
        box-shadow: none;
    }   
    100%{
        box-shadow: 0px 0px 4vw grey;
    }
}
.spin-arcs{
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 12vw;
    border-top: 12vw transparent solid;
    border-bottom: 12vw transparent solid;
    border-left: 12vw salmon solid;
    border-right: 12vw salmon solid;
    animation: spin-arcs-animation 4s  forwards infinite linear;
}
.spin-arcs-cover{
    position: absolute;
    height: 22vw;
    width: 22vw;
    border-radius: 11vw;
    background-color: purple;
}

@keyframes spin-arcs-animation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.dodge-balls1{
    position: absolute;
    height: 1vw;
    width: 1vw;
    background-color: yellow;
    border-radius: 0.5vw;
    margin-top: 76%;
    animation: dodge-ball1-animation 2s alternate infinite linear;
}
@keyframes dodge-ball1-animation {
    0%{
        margin-top: 76%;
    }
    20%{
        margin-top: 95%;
    }
    80%{
        margin-top: 95%;
    }
    100%{
        margin-top: 76%;
    }
}
.dodge-balls2{
    position: absolute;
    height: 1vw;
    width: 1vw;
    background-color: yellow;
    border-radius: 0.5vw;
    margin-top: -76%;
    animation: dodge-ball2-animation 2s alternate infinite linear;
}
@keyframes dodge-ball2-animation {
    0%{
        margin-top: -76%;
    }
    20%{
        margin-top: -95%;
    }
    80%{
        margin-top: -95%;
    }
    100%{
        margin-top: -76%;
    }
}

.choose-skill-l1{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border: 1vw yellow dashed;
    animation: choose-skill-l1-animation 6s forwards infinite;
    position: absolute;
}
.arc{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
}
.temp{
    display: flex;
    position: absolute;
    border-radius: 50%;
    border-top:  9.6vw yellow solid;
    border-right: 9.6vw transparent solid;
    border-bottom: 9.6vw transparent solid;
    border-left: 9.6vw transparent solid;
    height: 0px;
    width: 0px;
    animation: choose-skill-l1-temp-animation 4s reverse infinite;
}
@keyframes choose-skill-l1-animation {
    0%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(270deg);
    }
    80%{
        transform: rotate(200deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes choose-skill-l1-temp-animation {
    0%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(270deg);
    }
    60%{
        transform: rotate(270deg);
    }
    80%{
        transform: rotate(200deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.temp_cover{
    position: absolute;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background-color: brown;
    animation: choose-skill-l1-cover-animation 2s alternate-reverse infinite;
}
@keyframes choose-skill-l1-cover-animation{
    
    40%{
        height: 50%;
        width: 50%;
    }
    65%{
        height: 80%;
        width: 80%;
    }
}
.tri-circle{
    background-color: transparent;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    animation: tri-circle-animation 50s forwards infinite linear;
}
.tri{
    display: flex;
    align-items: center;
    position: absolute;
    height: 5%;
    width: 60%;
}
.tri::before,.tri::after{
    position: absolute;
    height: 0px;
    width: 0px;
    content: "";
    border: transparent 0.35vw solid;
}
.tri::before{
    margin-left: -0.6vw;
    border-left: yellow 0.35vw solid;
}
.tri::after{
    margin-left: 100%;
    border-right: yellow 0.35vw solid;
}
#tri1{
    transform: rotate(0deg);
}
#tri2{
    transform: rotate(10deg);
}
#tri3{
    transform: rotate(20deg);
}
#tri4{
    transform: rotate(30deg);
}
#tri5{
    transform: rotate(40deg);
}
#tri6{
    transform: rotate(50deg);
}
#tri7{
    transform: rotate(60deg);
}
#tri8{
    transform: rotate(70deg);
}
#tri9{
    transform: rotate(80deg);
}
#tri10{
    transform: rotate(90deg);
}
#tri11{
    transform: rotate(100deg);
}
#tri12{
    transform: rotate(110deg);
}
#tri13{
    transform: rotate(120deg);
}
#tri14{
    transform: rotate(130deg);
}
#tri15{
    transform: rotate(140deg);
}
#tri16{
    transform: rotate(150deg);
}
#tri17{
    transform: rotate(160deg);
}
#tri18{
    transform: rotate(170deg);
}
@keyframes tri-circle-animation {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.choose-skill-center-container{
    position: absolute;
    height: 85%;
    width: 85%;
    animation: choose-skill-center-image-animation 2s alternate-reverse infinite;
}
.choose-skill-center-image{
    height: 100%;
    width: 100%;
}
@keyframes choose-skill-center-image-animation {
    40%{
        height: 60%;
        width: 60%;
    }
    65%{
        height: 80%;
        width: 80%;
    }
}
