.center{
    display: grid;
    background-color: blue;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 85vw;
}
.row2{
    margin-top: 10.71vw;
}
.row3{
    margin-top: 21.42vw;
}
.skillhive{
    display: flex;
    height: 40vw;
    width: 40vw;
    position: relative;
    background-color: red;
    padding-left: 5vw;
    padding-top: 3vw;
}

@media screen and (max-width : 700px) {
    .row2{
        margin-top: 21.42vw;
    }
    .row3{
        margin-top: 42.84vw;
    }
    .skillhive{
        height: 80vw;
        width: 80vw;
        padding-left: 10vw;
        padding-top: 6vw;
    }
    .center{
        grid-template-columns: 1fr;
    }
}